/* Write your code here. */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  font-family: Roboto;
  color: #0f172a;
  font-size: 32px;
  font-weight: 500;
}
.card-container {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: 80%;
}
.image {
  height: 80px;
  width: 70px;
}
.heading {
  font-size: 20px;
  color: #1e293b;
  font-family: "Roboto";
}
.description {
  font-family: "Roboto";
  color: #1e293b;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 50px;
  }
  .card-container {
    max-width: 90%;
  }
  .image {
    width: 100px;
    height: 100px;
  }
}
